body {
    margin: 0;
}

.section {
    background-color: #88c1d0;
    width: 260px;
    height: 100px;
    margin: 5px;
}

@media screen and (min-width: 1600px) {
    body {
        display: flex;
    }

    .section {
        margin-left: auto;
        margin-right: auto;
    }
}